/*ADJUST ALL*/
*{
position:relative;
left: 40px;
top:10px;
}

/*RESIZE 2 ELEMENTS*/
.Chinatown{
    width:800px;
}
.Japantown{
    width:800px;
}
.Wharf{
    width:800px;
}
/*BORDER*/
h1{
height:100px;
line-height: 100px;
text-align:center;
border: 3px solid green;
border-radius: 25px;
}

/*LIST STYLE*/
ul{
    list-style-type: none;
    list-style-position: inside ;
    background: #95c49f;
    width:100px
    padding: 20px;
}

/*FORM STYLE*/
.form{
    border: 2px solid red;
    border-radius: 1px;
}




