/*ADJUST ALL*/
/*{
position:relative;
left: 40px;
top:0px;
}
*/
/*RESIZE 2 ELEMENTS*/

.Chinatown{
    width:800px;
}
.Japantown{
    width:800px;
}
.Wharf{
    width:800px;
}
/*BORDER*/
h1{
height:100px;
line-height: 100px;
text-align:center;
border: 3px solid green;
border-radius: 25px;
}

/*BOX SHADOW*/
h1{
    box-shadow: 10px 10px #95c49f;
    width:800px;
}

    /*LIST STYLE*/
ul.hour{
    list-style-type: none;
    list-style-position: inside ;
    background: #95c49f;
    padding: 20px;
    margin-top:10px;
    margin-bottom:30px;
}

/*FORM STYLE*/
.form{
    width:800px;
    height: 100px;
    margin-top:50px;
    border: 2px solid green;
    padding-bottom: 20px;

}

.form_q{
text-align:center;
}

/*TABLE STYLE*/
td, th{
    border: 1px solid green;
    text-align:left;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
    padding-top:5px;
}
table{
    border-collapse: collapse;
}
tr:hover{
    background-color: rgb(215, 226, 215);
}
/*NAV AND HEADER*/
.navbar {
    float:left;
    padding:15px;
}
#div1{
    background:rgb(204, 235, 206);
}
#div2{
    background:rgb(235, 208, 204);
}
#div3{
    background:rgb(204, 214, 235);
}

.container{
    padding-top:200px;
}
.header{
    background-color: white;
    position:fixed;
    margin-top: -25px;
}
/*FLEXBOX REQ*/
.flexbox{
    display:flex;
    flex-wrap:wrap;
    margin-left: 70px;
}
.flexbox > div{
    margin:10px;
    padding:20px;
}


